.current-user-comment {
    color: var(--yellow); /* Replace with your desired background color */
    font-weight: bold;
    
  }
  

  #singlecommentuser {
    color: var(--white)
  }

  #comment-text {
    color: var(--white);
  }