.current-user-comment {
    color: var(--yellow); /* Replace with your desired background color */
    font-weight: bold;
    
  }
  

  #singlecommentuser {
    color: var(--white)
  }

  #comment-text {
    color: var(--white);
  }

  #commentbutton {
    background-color: var(--black);
    color: var(--yellow);
    border: 1px solid var(--yellow)
  }

  .replybutton {
    background-color: var(--black);
    color: var(--yellow);
    border: 1px solid var(--yellow)
  }