.active-filter {
    background-color: #007bff;
    color: white;
  }

  #buttoncreate {
    color: yellow;
    font-weight: bold;
    background-color: var(--black);
    border: 1px solid var(--yellow)
  }

  #events {
    background-color: var(--black);
  }