label {
    color: var(--yellow)

}

#buttonsearch {
    color: var(--white);
    font-weight: bold;
    background-color: var(--black);
    border: 1px solid var(--yellow);
    border-radius: 10%;
    height: 40px;
}

#themap {
    border-radius: 1%;
}

#infowindow {
    background-color: var(--black);
    color: var(--white);
    font-size: 15px;
    
}