label {
    color: var(--yellow)

}

#buttonsearch {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--yellow);
    border-radius: 10%;
}

#themap {
    border-radius: 1%;
}

