.profile-avatar {
    border-radius: 18%;
    height: 36px;
}

.home-user-info {
    left: 50%;
    position: relative;
    display: flex;

}


.yellowtext p {
    color: var(--yellow);
    text-decoration: none;
}