body {
    background-color: var(--black)! important;
}

#container {
    background-color: var(--grey);
    color: var(--white)
}

.userinfo{
    font-weight: bolder;
    color: var(--yellow)
}

.yellowtext {
    color: var(--yellow)
}

#editprofilebutton {
    background-color: var(--black);
    border: 1px solid var(--yellow);
}