body {
  margin: 0;
  font-family:  "Roboto";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: var(--yellow)
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
--black: #000000;
--yellow: #ffee00;
--orange: #ffae00;
--white: #ffffff;
--bright: #ffd940;
}

